.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.header--dashboard {
    background-color: var(--white);
    box-shadow: 0 1px 1px 0 rgba(153,153,153,0.7);
    margin-bottom: 0.4rem;
    padding: 0 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header--dashboard .wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard .title--page {
    margin: 0;
    padding: 1rem 1rem 0;
    width: 100%;
}

.sort-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 1rem 0 0;
    width: 100%;
}

.sort-list li {
    align-items: center;
    display: flex;
    flex: 1 0 calc(20% - 16px);
    margin: 0 8px 4px 0;
}

.sort-list li:last-child {
    justify-content: flex-end;
}

.sort-list button {
    background-color: var(--white);
    border: solid 1px var(--border-default);
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 12px;
    text-transform: capitalize;
    width: calc(100% - 18px);
}

.sort-list .button--clear-filters {
    color: var(--white);
    background-color: var(--secondary-text-color);
    width: 100%;
}

.sort-list .button--clear-filters:hover {
    background: var(--primary-grayscale);
}

.sort-list .status-indicator {
    background-color: var(--white);
    border: solid 1px var(--black);
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    width: 18px;
}

.researching .status-indicator {
    border-color: transparent;
    background-color: rgba(0,54,196,0.75);
}

.pending .status-indicator {
    border-color: transparent;
    background-color: rgba(228,205,14,1);
}

.approved .status-indicator {
    border-color: transparent;
    background-color: rgba(29, 96, 29, 1);
}

.cta--primary {
    align-items: center;
    background-color: var(--primary);
    border-radius: 22px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: auto;
    margin-top: 0.5rem;
    max-height: 2.5rem;
    padding: 6px 10px;
    text-transform: uppercase;
}

.cta--primary .icon {
    display: inline-block;
    height: 18px;
    margin-left: 12px;
    width: 18px;
}

.cta--primary .icon svg {
    fill: var(--white);
    height: 100%;
    width: 100%;
}

.cta--primary:hover {
    background-color: var(--secondary);
}
