.app-header {
    color: var(--primary);
    box-shadow: 0 2px 1px 0 rgba(153,153,153,0.7);
    font-size: 18px;
    line-height: 1;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: 100%;
}

.app-header__logo svg {
    height: 100%;
    width: 100%;
}

.app-header__title {
    align-items: center;
    display: flex;
    font-size: 1em;
    justify-content: flex-start;
    margin: 0;
}

@media screen and (min-width: 40rem) {
    .app-header {
        font-size: 32px;
    }
}

